
@font-face {
	font-family: Script;
	src: url(../font/DancingScript-VariableFont_wght.ttf); /*get different font using @font-face from google*/
}


body {
    background-color: rgb(199, 199, 199);
}

#content_wrapper {
    min-width: 600px;
    width: 80%;
    margin: 10% auto; 
    border: 5px solid rgb(247, 11, 23);
}

#web_dev_header {
    display: block;
    background-color: rgb(68, 68, 70);
    height: 200px;
    border: 5px solid rgb(192, 11, 247);
    position: relative;
}

#img_container {
    display: block;
    float: right;   
}


#web_dev_text {
    display: block;
    color:white;
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    /*border: 5px solid rgb(247, 11, 148);*/
    min-width: 350px;
    top: 35%;
    left: 10%;
    

}

#info_container_1 {
    display: block;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    min-width: 600px;
    border: 5px solid rgb(11, 247, 188);
    overflow: auto;
}

#aspiring {
    font-family: Script, serif; 
    /*display: block;*/
    color:white;
    font-size: 0.4em;
    width: 6ch;
    position: absolute;
    top: -35%;
    left: -12%;
    /*border: 5px solid rgb(247, 11, 148);*/
}

#prof_pic_container{
    float: right;
    border: 5px solid rgb(39, 247, 11);
    height: fit-content;
    width: fit-content;
}

#contact_form {
    float: left;
    border: 5px solid rgb(153, 11, 247);
    width: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

#name {
    font-size: 2em;
    width: 100%;
    border: 5px solid rgb(11, 247, 137);
    text-align: center;
}

#contact_number {
    text-align: center;
}

.rotate {
    -moz-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
}






/******* MOBILE FORMAT ***********/
@media (max-width:600px) {
    
    #col_left{
        /*min-width: 800px;*/
        /*width: 100%;*/
        clear: right;
        border: 5px solid rgb(54, 11, 247);
        /*height: fit-content;*/
        overflow: auto;
    }
    #col_right{
        /*min-width: 800px;*/
        /*width: 100%;*/
        border: 5px solid rgb(231, 247, 11);  
    } 

    #prof_pic_container {
        height: 50px;
        width: 40px;
        
    }

}
/********** DESKTOP FORMAT ***********/
@media (min-width:601px) {
    
    #col_left{
        /*min-width: 600px;*/
        max-width: 40%;
        width: 49%;
        float: left;
        position: relative;
        border: 5px solid rgb(54, 11, 247);
    }
    #col_right{
        /*min-width: 600px;*/
        /*max-width: auto;*/
        width: 49%;
        float: left; 
        border: 5px solid rgb(231, 247, 11);
    }   
    
    #profile_pic {
        height: 120px;
        width: 100px;
    }

    #prof_pic_container{
        position: relative;
        margin-top: 5%;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    
}