


body {
    background-color: rgb(201, 201, 201);
}

#web_dev_header {
    display: block;
    background-color: rgb(68, 68, 70);
    width: 80%;
    min-width: 1200px;
    height: 200px;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border: 5px solid rgb(247, 11, 148);
}

#img_container {
    display: block;
    float: right;   
}


#web_dev_text {
    display: inline;
    color:white;
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    border: 5px solid rgb(247, 11, 148);
    width: 100%;
    /*top: 45%; left: 20%;*/
    left: 15%;
    top: 40%;
}